@font-face {
    font-family: 'Chunk Five';
    src: url('fonts/chunkfive-webfont.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kaushan Script';
    src: url('fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}
body {
	background-color: #000;
}

.container {
	background-color: #fff;
	padding: 50px;
}

h1 {
	font-family: 'Kaushan Script',serif;
	color: #ff0000;
}

p {
	font-family: 'Chunk Five', sans-serif;
	color: #ff0000;
}